<carousel>
  <slide>
    <img src="assets/images/hero1.jpeg" style="display: block; width: 100%" alt="" srcset="">
  </slide>
  <slide>
    <img src="assets/images/hero2.jpeg" style="display: block; width: 100%" alt="" srcset="">
  </slide>
  <slide>
    <img src="assets/images/hero3.jpeg" style="display: block; width: 100%" alt="" srcset="">
  </slide>
</carousel>
  <section class="featured">
    <div class="d-flex justify-content-center pt-4">
      <h1>Lilian Villa</h1>
    </div>
  </section>
